.notifications {
    min-width: 0px;
    background-color: transparent;
}
.notif {
    background-color: #241B30;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #4B3E69;
}

.notif image {
    padding-right: 10px;
}
